.card_container {
  color: white;
  text-align: center;
}

/* .card_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
@media (max-width: 40rem) {
  .card_container {
    font-size: x-small;
  }
}
.card_header {
  border: 1px solid gray;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(20, 20, 20);
}

.card_header div {
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.card_header:hover {
  scale: 1.2;
  /* flex-direction: column; */
  animation: fadeIn 2s;
  transition: all 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 50rem) {
  .card_header {
    flex-direction: column;
    font-size: smaller;
  }
}

.month {
  border: 1px solid rgb(80, 1, 80);
  padding: 0.2rem;
  border-radius: 0.4rem;
}

img {
  background-color: rgba(65, 65, 65, 0.137);
  border-radius: 0.4rem;
}

@media (max-width: 40rem) {
  img {
    width: 75%;
  }
}

/* .a0 {
  background-color: #020111;
}
.a1 {
  background: #020111;
}

.a2 {
  background: #020111;
}

.a3 {
  background: #020111;
}

.a4 {
  background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}

.a5 {
  background: linear-gradient(to bottom, #20202c 0%, #515175 100%);
}

.a6 {
  background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
}

.a7 {
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}

.a8 {
  background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%);
}

.a9 {
  background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.a10 {
  background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
}

.a11 {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
}

.a12 {
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
}

.a13 {
  background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
}

.a14 {
  background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%);
} */
