.card_container {
  color: white;
  text-align: center;
}

@media (max-width: 40rem) {
  .card_container {
    font-size: x-small;
  }
}
.card_header {
  border: 1px solid gray;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(20, 20, 20);
}

.card_header div {
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.card_header:hover {
  scale: 1.2;
  animation: fadeIn 2s;
  transition: all 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 50rem) {
  .card_header {
    flex-direction: column;
    font-size: smaller;
  }
}

.month {
  border: 1px solid rgb(80, 1, 80);
  padding: 0.2rem;
  border-radius: 0.4rem;
}

img {
  background-color: rgba(65, 65, 65, 0.137);
  border-radius: 0.4rem;
}

@media (max-width: 40rem) {
  img {
    width: 75%;
  }
}
